body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232b2b;
}

#text{
    padding-top: 15px; 
    padding-bottom: 15px; 
    border: 3px solid #000000; 
    background: rgb(255,255,255);
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 3%;
    background-color: #232b2b;
    border-color: white;
    
}

p{
    color: white;
    font-size: 28px;

}

#error{
    color: #FF0000;

}

#diverror{
    display: flex;
    justify-content: center;

}

button{
    
    background-color: #232b2b; 
    border: 3px solid #000000;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

button:hover{
    background-color: #000000; 
    color: white;

}

